<div class="row">
  <div class="span12">


  <div id="alert_placeholder"></div>

  <div id="myModal" class="modal hide fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create An Account</h3>
  </div>
  <div class="modal-body" id="modalbody">
    <div id="reg_form"></div>
  </div>
</div></div>
  </div>
  <div class="span12">
  <div id='container'>
    <%= yield %>
  </div>
  </div>
</div>
